body {
	margin: 0px; 
}

header {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.name {
	font-weight: bold;
	font-size: 62px;
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 0px 0px;
}

.fewd-title {
	font-weight: lighter;
	font-size: 24px;
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 0px 0px;
}

.fewd-date {
	font-weight: lighter;
	font-size: 18px;
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 0px 0px;
}

/* style nav list so it is a horizontal nav bar */
/*nav {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav a {
	display: block;
	color: rgba(172, 68, 93, 1);
	text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}*/

nav {
	border:1px solid #ccc;
    border-width:1px 0;
    font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	color: rgba(172, 68, 93, 1);
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}


.bodyheadline {
	font-family: 'Cormorant Garamond', serif;
	font-size: 36px;
}

/* style footer so it is a horizontal nav bar */
/* gave up on trying to make it centered instead of tacked left */

footer {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(38, 47, 41, 1);
}

footer li {
	float: left;
}

footer a {
	display: block;
	color: rgba(243, 243, 239, 1);
	padding: 20px;
	text-decoration: none;
}